.blood-infuser-recipe,
.envir-acc-recipe {
    width: 300px;
}

.appendix .blood-infuser-recipe .appendix-icon,
.appendix .envir-acc-recipe .appendix-icon {
    position: relative;
    top: 10px;
    left: 133px;
    margin-bottom: -28px;
    z-index: 10;
}

.appendix .blood-infuser-recipe .tier-icon {
    position: relative;
    top: 4px;
    left: 166px;
    margin-bottom: -28px;
    z-index: 10;
}

.appendix .blood-infuser-recipe .recipe-duration,
.appendix .envir-acc-recipe .recipe-duration {
    font-size: 10px;
    position: relative;
    top: 36px;
}