.blood-infuser-recipe,
.envir-acc-recipe,
.broom-modifier {
    width: 300px;
}

.appendix .blood-infuser-recipe .appendix-icon,
.appendix .envir-acc-recipe .appendix-icon {
    position: relative;
    top: 10px;
    left: 133px;
    margin-bottom: -28px;
    z-index: 10;
}

.appendix .blood-infuser-recipe .tier-icon {
    position: relative;
    top: 4px;
    left: 166px;
    margin-bottom: -28px;
    z-index: 10;
}

.appendix .blood-infuser-recipe .recipe-duration,
.appendix .envir-acc-recipe .recipe-duration {
    font-size: 10px;
    position: relative;
    top: 36px;
}

.broom-modifier .broom-modifier-name {
    font-weight: bold;
}

.broom-modifier .items {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.broom-modifier-modifier {
    margin-left: 4px;
    vertical-align: center;
    position: relative;
    top: -8px;
}

.broom-modifier-modifier::before {
    content: "x";
}

.broom-modifier .broom-modifier-item {
    display: inline-block;
}
